html {
  font-family : var(--font-body), system-ui;
}
body {
  font-size : var(--text-body);
}
small {
  font-size : var(--text-small);
}
h1, .h1 {
  font-size : var(--text-h1);
}
h2, .h2 {
  font-size : var(--text-h2);
}
h3, .h3 {
  font-size : var(--text-h3);
}
h4, .h4 {
  font-size : var(--text-h4);
}
.content > * + * {
  margin-top : var(--line-height);
}
p, .heading, .h1, .h2, .h3, .h4 {
  font-family   : var(--font-heading), sans-serif;
  font-weight   : var(--weight-heading);
  overflow-wrap : break-word;
  text-wrap     : pretty;
}
.nowrap {
  white-space : nowrap;
}

code, pre {
  tab-size : 4ch;
}
