<toast>
    <button class="close" aria-label="Close" type="button"></button>
    <output role="status">
        <i class="status">
            <icon>Icon</icon>
            <span class="status-type">toast</span>
            <time datetime="TODAY">
                timestamps
            </time>
        </i>
        <span class="message">message</span>
    </output>
    <details>
        <summary>Description</summary>
        <p>Details</p>
    </details>
</toast>
